# vim: sts=2 ts=2 sw=2 et ai
openstack:
  version: 'liberty'
  compute:
    my_ip: '10.100.0.25'
  novadocker:
    repo: 'https://github.com/openstack/nova-docker.git'
    revision: 'stable/liberty'

# You can using any options, example:
# openstack:
#   compute:
#     'nova':
#       'docker':
#         privileged: true
#         {{ any }} : {{any value}}
#
#                IMPORTANT
# All default settings contains in defaults.jinja
