# vim: sts=2 ts=2 sw=2 et ai
#
{% set openstack  = salt['grains.filter_by']({
  'default': {
    openstack-repo: "deb http://ubuntu-cloud.archive.canonical.com/ubuntu trusty-updates/liberty main",
    version: "liberty"
  }
}, merge=salt['pillar.get']('openstack:lookup')) %}
